<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/editcamp_post">
    {% csrf_token %}
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <label class="label">Camp Name</label>
                <input class="input--style-4" type="text" name="textfield" value="{{ data.name }}" required>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="label">Place</label>
                <input class="input--style-4" type="text" name="textfield2" value="{{ data.place }}" required>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <label class="label">Pin</label>
                <input class="input--style-4" type="text" name="textfield3" value="{{ data.pin }}"required pattern="[0-9]{6}">
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="label">Post</label>
                <input class="input--style-4" type="text" name="textfield4" value="{{ data.post }}" required>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <label class="label">District</label>
                <input class="input--style-4" type="text" name="textfield5" value="{{ data.district }}" required>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="label">Contact No</label>
                <input class="input--style-4" type="text" name="textfield6" value="{{ data.contactno }}" required pattern="[6789][0-9]{9}">
            </div>
        </div>
    </div>
    <div class="p-t-15">
        <button class="btn btn--radius-2 btn--blue" type="submit">Update</button>
    </div>
</form>

</body>
</html>
