<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Data Table</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="100%" border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Sno</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Image</th>
      <th>Place</th>
      <th>Pin</th>
      <th>Post</th>
      <th>Aadhar</th>
      <th>Verify</th>
    </tr>
        {% for i in data %}
    <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>&nbsp;{{ i.email }}</td>
    <td>{{ i.phone }}</td>
    <td>{{ i.image }}</td>
    <td>{{ i.place }}</td>
    <td>&nbsp;{{ i.pin }}</td>
    <td>&nbsp;{{ i.post }}</td>
    <td>&nbsp;{{ i.aadhar }}</td>
      <td>
        <a href="/accept/{{ i.LOGIN.id }}">Accept</a> / <a href="/reject/{{ i.LOGIN.id }}">Reject</a>
      </td>
    </tr>
          {% endfor %}
  </table>

</form>
</body>
</html>
