<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<h1>Camp Coordinator</h1>
<table width="200" border="1">
  <tr>
    <td><a href="add_members.html">Manage members</a></td>
  </tr>
  <tr>
    <td><a href="request_need.html">Request need</a></td>
  </tr>
  <tr>
    
  </tr>
  <tr>
    <td><a href="view_needs.html">View collection details</a></td>
  </tr>
  <tr>
    <td><a href="request_psychologist.html">Request psychologist</a></td>
  </tr>
  
    <tr>
    <td><a href="">Log out</a></td>
  </tr>
  
</table>

</body>
</html>
