<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Request Need</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="/editmembers_post">
    {% csrf_token %}
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <label class="label">Name</label>
                <input class="input--style-4" type="text" name="textfield" value="{{ data.name }}" required>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="label">Image URL</label>
                <input class="input--style-4" type="text" name="textfield2" value="{{ data.image }}" required>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <label class="label">Place</label>
                <input class="input--style-4" type="text" name="textfield3" value="{{ data.place }}" required>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="label">Pin</label>
                <input class="input--style-4" type="text" name="textfield4" value="{{ data.pin }}" required pattern="[0-9]{6}">
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <label class="label">Post</label>
                <input class="input--style-4" type="text" name="textfield5" value="{{ data.post }}" required>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="label">Phone</label>
                <input class="input--style-4" type="text" name="textfield6" value="{{ data.phone }}" required pattern="[6789][0-9]{9}">
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <label class="label">Gender</label>
                <input class="input--style-4" type="text" name="textfield7" value="{{ data.gender }}" required>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="label">Age</label>
                <input class="input--style-4" type="text" name="textfield8" value="{{ data.age }}" required>
            </div>
        </div>
    </div>
    <div class="p-t-15">
        <button class="btn btn--radius-2 btn--blue" type="submit">Update</button>
    </div>
</form>
</body>
</html>
