<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Request Psychologist</title>
</head>
<body>
  <form method="post" action="/request_psychologist_post">
  {% csrf_token %}
  <div class="row row-space">
    <div class="col-2">
      <div class="input-group">
        <label class="label">Description</label>
        <input class="input--style-4" type="text" id="description" name="description" required />
      </div>
    </div>
  </div>
  <div class="p-t-15">
    <button class="btn btn--radius-2 btn--blue" type="submit">Request</button>
  </div>
</form>
</body>
</html>
