<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Request Need</title>
</head>
<body>
  <form method="post" action="/request_need_post">
  {% csrf_token %}
  <div class="row row-space">
    <div class="col-2">
      <div class="input-group">
        <label class="label">Type</label>
        <input class="input--style-4" type="text" name="type" required>
      </div>
    </div>
  </div>

  <div class="row row-space">
    <div class="col-2">
      <div class="input-group">
        <label class="label">Need</label>
        <input class="input--style-4" type="text" name="need" required>
      </div>
    </div>
  </div>

  <div class="row row-space">
    <div class="col-2">
      <div class="input-group">
        <label class="label">Quantity</label>
        <input class="input--style-4" type="number" name="quantity" required>
      </div>
    </div>
  </div>

  <div class="p-t-15">
    <button class="btn btn--radius-2 btn--blue" type="submit">Request</button>
  </div>
</form>
</body>
</html>
