<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View or Update Needs</title>
</head>
<body>
  <h1>View or Update Needs</h1>
 <table class="table">
    <thead>
      <tr>
        <th>Sl. No</th>
        <th>needs</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Date</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
     {% for i in val %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.NEEDID.needs }}</td>
        <td>{{ i.type }}</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.status }}</td>
        <td>
            {% if i.status == 'verified' %}
            <a href="/need_accept/{{ i.id }}">accept</a>|<a href="/need_reject/{{ i.id }}">reject</a>
            {% endif %}
        </td>

      </tr>
   {% endfor %}
    </tbody>
  </table>
</body>
</html>
