<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Members</title>
</head>
<body>

  <table class="table">
    <thead>
      <tr>
        <th>Sl. No</th>
        <th>Description</th>
        <th>Date</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
     {% for i in val %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.description }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.status }}</td>


      </tr>
   {% endfor %}
    </tbody>
  </table>

</body>
</html>