<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Members</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>Sno</th>
            <th >Name</th>
            <th>Image</th>
            <th >Place</th>
            <th >Pin</th>
            <th>Post</th>
            <th >Phone</th>
            <th >Gender</th>
            <th>Age</th>
            <th >Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.image }}</td>
            <td>{{ i.place }}</td>
            <td>{{ i.pin }}</td>
            <td>{{ i.post }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.age }}</td>
            <td>
                <p><a href="/editmembers/{{ i.id }}">Edit</a></p>
                <p><a href="/deletemembers/{{ i.id }}">Delete</a></p>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="10" style="text-align: center;">
                <a href="/add_members">Add New</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
